<p id="notice"><%= notice %></p>
<h1>This is <%= @station.name %> station</h1>
<br>
<h2>Next train arrivals</h2>
<table>
      <tr>
        <th>Train number</th>
        <th>Destination</th>
        <th>Line</th>
        <th>Arrival</th>
      </tr>
    <% @arrivals_pretty.each do |arrival_pretty| %>
      <tr>
        <td><%= arrival_pretty[0] %></td>
        <td><%= arrival_pretty[1] %></td>
        <td><%= arrival_pretty[2] %></td>
        <td><%= arrival_pretty[3] %></td>
      </tr>
    <% end %>
</table>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Cta identifier:</strong>
  <%= @station.cta_identifier %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
