<p id="notice"><%= notice %></p>
<h2>This is <%= @station.name %> station</h2>
<br>
<h3>Next train arrivals</h3>
<% if @arrivals.to_a.empty? %>
<b>NO TRAIN INFORMATION FOR THIS STATION</b>
<% else %>
  <table>
        <tr>
          <th>Train number</th>
          <th>Destination</th>
          <th>Line</th>
          <th>Arrival</th>
        </tr>

        <% @arrivals.each do |arrival| %>
          <tr>
            <td><%= arrival["train_number"] %></td>
            <td><%= arrival["destination"] %></td>
            <td><%= arrival["line_name"] %></td>
            <td><%= arrival["arrival_time"] %></td>
          </tr>
        <% end %>
  </table>
<% end %>
